body {
  background-color: #fffde2;
  font-family: "Lato", sans-serif;
}

.page-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 2rem;
}

#dropdown,
#resultssearch {
  font-size: 3rem;
}

#dropdown {
  color: green;
}

#resultssearch {
  color: red;
}

form {
  margin: auto;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
#autocomplete-list {
  width: 100%;
}

#inputField {
  border-radius: 25px;
  border: 4px solid black;
  padding: 20px;
  width: 30rem;
  height: 15px;
  font-size: 2rem;
  outline-color: red;
  box-shadow: 5px 5px grey;
}

#submitbutton {
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 2rem;
  width: 12rem;
  height: 3.5rem;
  font-size: 1.5rem;
  border-radius: 25px;
}
